body {
    margin-top: 75px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

.panel-heading {
    padding: 5px;
}

.panel-heading img {
    float: right;
    margin-top: 5px;
}

.panel-body h4 {
    border-bottom: 1px solid black;
    margin-top: 30px;
}

.container {
    width: 100%;
}

#toc {
    float: right;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: small;
    padding: 5px;
    margin-left: 15px;
}

#toc ul {
    margin: 0;
    padding: 0px;
}

#toc li {
    list-style-type: none;
    margin: 0;
}

#toc li li {
    margin-left: 1.5em;
}

@media (min-width: 992px) {
    .col-md-9 {
        width: calc(100% - 20em);
        float: left;
    }

    .col-md-3 {
        width: 20em;
        float: left;
    }
}

figure img {
    max-width: 100%;
}

code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color: #515151;}

.issue-header {
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 8px;
    background-color: #f5f5ff;
}

.issue-header hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

.issue-header h2 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd
}

.issue-header .author-info {
    font-size: 90%;
}

.issue-properties {
    margin-top: 10px;
}

.issue-properties label {
    font-weight: bold;
    font-size: 15px;
}

.issue-property {
    margin-right: 1em;
    font-size: 15px;
}

.issue-description {
    border: 1px solid #ddd;
    border-top: 0px;
    padding: 8px;
    padding-top: 10px;
    background-color: #f5f5ff;
}

.issue-description h3 {
    margin-top: 0px;
    font-size: 1.3em;
}

.issue-description .attachment {
    margin: 0px;
    color: #999;
    font-size: small;
}

.issue-comment {
    font-size: small;
    margin-bottom: 15px;
}

.issue-comment blockquote {
    font-size: small;
}

.issue-comment-header {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.bottom-notice {
    color: #999;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.author {
    color: #999;
}

.news-summary .author {
    margin-bottom: 15px;
}

.news-summary {
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
}

.read-more-link {
    text-align: right;
}

.news-title, .wiki-title {
    font-size: small;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
}

.news-title .type, .wiki-title .type {
    color: #aaa;
    font-size: 80%;
    margin-left: 5px;
}
