{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well well-sm">
              <div id="toc">
                {{ .TableOfContents }}
              </div>
              {{ .Content }}
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            {{ partial "menu.html" . }}
            <div class="well well-sm"> <!-- Post-specific stats -->
                <h4>{{ .Date.Format "January 2, 2006" }}<br>
                <small>{{ .WordCount }} words</small></h4>
                <hr>
                <strong>Tags</strong><br>
                {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            </div>
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
