        <footer>
            <div class="row">
                <hr>
                <div class="col-sm-12">
                    <p>&copy; {{if .Params.author}}{{.Params.author}}{{else}}{{ .Site.Params.author }}{{end}} <br></p>
		<p> Rather than use web commenting systems, we ask you to refer to and/or join the <a href="https://lists.bufferbloat.net/pipermail/cerowrt-devel/">cerowrt-devel</a>, <a href="https://lists.bufferbloat.net/pipermail/cake/">cake</a>, or <a href="https://lists.bufferbloat.net/pipermail/make-wifi-fast/">make-wifi-fast</a> <a href="https://lists.bufferbloat.net">bufferbloat-related mailing lists</a>. The conversation is fragmented enough already! We can also be found in irc.freenode.net on #bufferbloat. You can file <a href="https://github.com/dtaht/blog-cerowrt/issues">issues on the blog itself via github.
                </div>
            </div>
        </footer>
