    {{ if .Section }}{{ partial "section-panel.html" .Section }}{{ end }}

    <div class="panel panel-default">
        <div class="panel-heading">

	         <img src="/images/wifi.svg" width="32" />
          <h4>Find us elsewhere</h4>
        </div>
        <div class="panel-body">
          <a href="https://www.twitter.com/#bufferbloat">Twitter #bufferbloat,</a> 
          <a href="https://plus.google.com/u/0/explore/bufferbloat">G+</a>

	  <h4>Sponsors</h4>
	  <a href="http://corporate.comcast.com/comcast-voices/calling-all-researchers-comcast-innovation-fund-seeking-projects">Comcast Research Innovation Fund</a><br />
	  <a href="https://www.nlnet.nl/project/">Nlnet Foundation</a><br />
	  <a href="https://www.shuttleworthfoundation.org/">Shuttleworth Foundation</a><br />
	  <a href="https://www.gofundme.com/savewifi">GoFundMe</a><br />
	  <h4><a href="http://www.bufferbloat.net/projects/bloat">Bufferbloat</a> Related Projects</h4>
	  <a href="http://blog.cerowrt.org">Congestion Control Blog</a><br />
	  <a href="http://www.lede-project.org">Lede Project (OpenWrt)</a><br />
	  <a href="https://flent.org">Flent Network Test Suite</a><br />
	  <a href="https://github.com/tohojo/sqm-scripts">Sqm-Scripts</a><br />
	  <a href="http://www.bufferbloat.net/projects/codel/wiki/Cake">The Cake shaper</a><br />
	  <a href="http://caia.swin.edu.au/freebsd/aqm/">AQMs in BSD</a><br />
	  <a href="https://tools.ietf.org/wg/aqm/">IETF AQM WG</a> <br />
	  <h4>Network Performance Related Resources</h4><br />
	  <a href="https://gettys.wordpress.com/">Jim Gettys' Blog</a> - The chairman of the Fjord <br />
	  <a href="https://blog.tohojo.dk/">Toke's Blog</a> - Karlstad
	  University's work on bloat <br />
	  <a href="http://vuc.me">Voip Users Conference</a> - Weekly Videoconference mostly about voip<br />
	  <a href="http://www.candelatech.com/">Candelatech</a> - A wifi testing company that "gets it".<br />
        </div>
    </div>
