    {{ if .Section }}{{ partial "section-panel.html" .Section }}{{ end }}

    <div class="panel panel-default">
        <div class="panel-heading">
          <a href="/index.xml">
            <img src="/images/feed-icon.svg" alt="RSS feed"
            width="20" height="20" style="float: right" />
          </a>
          <h4>Recent Updates</h4>
        </div>
        <div class="panel-body">
          {{ range first 5 (where .Site.Pages.ByLastmod.Reverse "Type" "in" .Site.Params.recentTypes)}}
                  {{ .Render "title" }}
                {{ end }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
	         <img src="/images/wifi.svg" width="32" />
          <h4>Find us elsewhere</h4>
        </div>
        <div class="panel-body">
          <a href="https://lists.bufferbloat.net/">Bufferbloat Mailing Lists</a><br />
          <a href="https://twitter.com/search?q=%23bufferbloat">#bufferbloat</a>  on Twitter<br />
          <a href="https://plus.google.com/u/0/explore/bufferbloat">Google+</a> group<br />
          <a href="http://richb-hanover.github.io/bufferbloat-site">Archived Bufferbloat pages</a> from the Wayback Machine<br />

	  <h4>Sponsors</h4>
	  <a href="http://corporate.comcast.com/comcast-voices/calling-all-researchers-comcast-innovation-fund-seeking-projects">Comcast Research Innovation Fund</a><br />
	  <a href="https://www.nlnet.nl/project/">Nlnet Foundation</a><br />
	  <a href="https://www.shuttleworthfoundation.org/">Shuttleworth Foundation</a><br />
	  <a href="https://www.gofundme.com/savewifi">GoFundMe</a><br />

	  <h4>Bufferbloat Related Projects</h4>
    <a href="https://OpenWrt.org">OpenWrt Project</a><br />
	  <a href="http://blog.cerowrt.org">Congestion Control Blog</a><br />
	  <a href="https://flent.org">Flent Network Test Suite</a><br />
	  <a href="https://github.com/tohojo/sqm-scripts">Sqm-Scripts</a><br />
	  <a href="http://www.bufferbloat.net/projects/codel/wiki/Cake">The Cake shaper</a><br />
	  <a href="http://caia.swin.edu.au/freebsd/aqm/">AQMs in BSD</a><br />
	  <a href="https://tools.ietf.org/wg/aqm/">IETF AQM WG</a> <br />
    <a href="/cerowrt/wiki">CeroWrt (where it all started)<br /></a> 

	  <h4>Network Performance Related Resources</h4><br />
	  <a href="https://gettys.wordpress.com/">Jim Gettys' Blog</a> - The chairman of the Fjord <br />
	  <a href="https://blog.tohojo.dk/">Toke's Blog</a> - Karlstad
	  University's work on bloat <br />
	  <a href="http://vuc.me">Voip Users Conference</a> - Weekly Videoconference mostly about voip<br />
	  <a href="http://www.candelatech.com/">Candelatech</a> - A wifi testing company that "gets it".<br />
       </div>
    </div>
