{{ partial "header.html" . }}
{{ partial "subheader.html" . }}

<section id="main">
      <div>
       <h1 id="title">{{ .Title }}</h1>
      </div>
     <div>
	The url you just tried to reach does not exist
	yet. Most likely it's in draft form, awaiting time for me to
	finish writing and polishing it. </div>
	<div><b>Note:</b> This site has no advertising, no tracking, no
	javascript, and <i>no business model</i>. There was once a time I could
	make a living from writing, but no more, and yet, I am compelled
	to keep writing. If you want to see more stuff from me... more often... please make a continuing donation through <a href=https://patreon/dtaht>my patreon page</a>, or <a href=https://gofundme/savewifi>gofundme>gofundme</a>.
	</div>
 
</section>

{{ partial "footer.html" . }}


